html {
    --main-blue: #033d75;
    --hi-blue: #26cdff;
    --lt-blue: #1d5183;
}

body {
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
    color: #000;
}

.top-links {
    height: 1rem;
    background: var(--main-blue);
    color: #fff;
    height: 32px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 2% 0 5%;
}
.top-links div {
    margin: 0 1rem;
}
.top-links a {
    color: #fff;
    text-decoration: none;
}

.top-links .email-link {
    font-weight: 300;
    font-size: .8rem;
    letter-spacing: .05rem;
    height: 100%;
    display: flex;
    align-items: center;
    background:  var(--lt-blue);;
    padding: 0 .5rem;
}
.top-links .phone-link {
    font-size: .9rem;
}
.top-links i {
    font-size: 12px; 
    margin-right: .3rem;
}
.logo {
    height: 93px;
    width: 140px;
    background: url(images/logo.webp) no-repeat;
    background-size: contain;
}

.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1210;
    width: 94%;
    margin: 1.4rem auto auto;
    font-size: .8rem;
    font-weight: 900;
}

.nav-list {
    width: calc(100% - 350px);
}
.nav-list ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}
.nav-list li {
    margin: 0 1rem;
    text-align: center;
}

.nav-list li a.active,
.nav-list li a:hover {
    color: var(--hi-blue);
}

.nav-list .nobreak {
    display: inline-block;
 }

 .main-nav .quote-button a {
    height: 1rem;
    background: var(--hi-blue);
    color: #fff;
    height: 32px;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    justify-content: center;
}

.tile-navbar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto 2rem;
}

.nav-breaker {
    display: flex;
    justify-content: space-around;
    min-width: 200px;
    width: 100%;
}

.tile-nav {
    min-width: 140px;
    height: 130px;
    flex-grow: 1;
    margin: .75rem;
}

.tile-nav a {
    width: 100%;
    height: 100%;
    background: var(--main-blue);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tile-nav a:hover {
    background: var(--lt-blue);
}
.slider-div {
    background: url(images/ACCondenser.webp) no-repeat;
    background-size: cover;
    background-position: center center;
    height: 550px;
    width: 100%;
    position: relative;
}

.hero {
    background: rgba(0,0,0,.4);
    width: 70%;
    margin: 14% auto auto 8%;
    position: absolute;
    padding: 1rem;

    background: -moz-linear-gradient(top, rgba(0,0,0,0.27) 0%,rgba(0,0,0,0.65) 37%,rgba(0,0,0,0.65) 69%,rgba(0,0,0,0.47) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,0,0,0.27) 0%,rgba(0,0,0,0.65) 37%,rgba(0,0,0,0.65) 69%,rgba(0,0,0,0.47) 100%);
background: linear-gradient(to bottom, rgba(0,0,0,0.27) 0%,rgba(0,0,0,0.65) 37%,rgba(0,0,0,0.65) 69%,rgba(0,0,0,0.47) 100%);
}

.hero h3 {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: .05rem;
    margin: auto;
}

.hero h2 {
    font-size: 2rem;
    color: var(--lt-blue);
    background: rgba(255,255,255,.9);
    font-weight: 700;
    display: inline-block;
    padding: 0 1rem;
}

.hero .deck {
    color: #fff;
    font-weight: 400;
    font-size: 0.85rem;
    letter-spacing: .04rem;
}
.call-to-action a {
    background: var(--hi-blue);
    color: #fff;
    height: 1.6em;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    justify-content: center;
    margin: 1rem 0 0;
    width: 90%;
    font-size: 1rem;
}

@media screen and (min-width: 834px) {

    .nav-breaker {
        min-width: 400px;
        width: 50%;
    }

    .tile-nav {
        margin: .75rem;
    }

    .call-to-action a {
        width: 55%;
    }

}

@media screen and (min-width: 1060px) {

    .call-to-action a {
        font-size: 1.5rem;
    }

}